<button class="btn btn-primary">{{ infos.btnMessage }}</button>
<br /><br />

<!-- DESKTP -->
<div class="d-none d-md-block">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let item of atributes" scope="col" class="title">
          {{ item }}
        </th>
        <th scope="col" class="title">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of data
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
      >
        <td *ngFor="let atribute of atributes; let i = index">{{ item[i] }}</td>
        <td>
          <button class="btn btn-primary">Editar</button>
          <button class="btn btn-danger">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MOBILE -->
<div class="d-sm-block d-md-none">
  <div
    class="card"
    *ngFor="
      let item of data
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
    "
  >
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let atribute of atributes; let i = index"
        class="list-group-item"
      >
        <b>{{ atribute }}: </b><i>{{ item[i] }}</i>
      </li>
    </ul>
    <div class="card-footer">
      <div class="row">
        <div class="col-6"><button class="btn btn-primary">Editar</button></div>
        <div class="col-6 text-right">
          <button class="btn btn-danger">Deletar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ngb-pagination
  class="d-flex justify-content-center"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="data.length"
></ngb-pagination>
