<app-spinner *ngIf="spinner"></app-spinner>

<div *ngIf="!spinner && success" id="sucess">
  <div class="row">
    <div class="col-sm-6">
      <button [routerLink] ="['form']"  class="btn btn-success">{{ infos.btnMessage }}</button>
    </div>
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <input
          #inputSearchBar
          type="text"
          class="form-control"
          placeholder="Pesquisar pelo nome"
          (keyup)="searchBar($event)"
        />
      </div>
    </div>
  </div>
  <br /><br />

  <!-- DESKTP -->
  <div class="d-none d-md-block">
    <table class="table table-striped">
      <thead class="bg-dark">
        <tr>
          <th
            *ngFor="let item of atributes; let i = index"
            scope="col"
            class="title"
          >
            <button (click)="tableSorting(i)" class="btn btn-outline-light">
              {{ item }}
              <span class="badge badge-light"><i class="fa fa-sort"></i></span>
            </button>
          </th>
          <th style="width: 20%;" scope="col" class="title text-right">
            <button class="btn btn-dark" disabled>Ações</button>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="search && !hasResult">
        <tr>
          <td colspan="5">
            <h4>
              Não foram encontrados resultados para a pesquisa:
              <i class="bg-info">'{{ term }}'</i>
            </h4>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr
          *ngFor="
            let item of data
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
          "
        >
          <td *ngFor="let atribute of atributes; let i = index">
            {{ item[i] }}
          </td>
          <td class="text-right">
            <button [routerLink] ="['form', item[0]]" class="btn btn-success">
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-danger deleteData" (click)="onDelete(item)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <button
          *ngIf="search && !hasResult"
          class="btn btn-success float-right"
          (click)="reload()"
        >
          Recarregar lista
        </button>
      </div>
    </div>
  </div>

  <!-- MOBILE -->
  <div class="d-sm-block d-md-none">
    <div
      class="card"
      *ngFor="
        let item of data
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
      "
    >
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let atribute of atributes; let i = index"
          class="list-group-item"
        >
          <b>{{ atribute }}: </b><i>{{ item[i] }}</i>
        </li>
      </ul>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary">Editar</button>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-danger">Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngb-pagination
    class="d-flex justify-content-center"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="data.length"
  ></ngb-pagination>
</div>

<app-api-error
  [errorInfos]="error"
  *ngIf="!spinner && !success"
></app-api-error>

<app-delete-modal *ngIf="showDelteModal" [item]="itemToDelete" ></app-delete-modal>
