<div class="card border-dark bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <h2 class="card-title">{{ titleMsg }}</h2>
      </div>
      <div class="col-4">
        <button (click)="showModal()" class="btn btn-info float-right">
          Voltar para a lista
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="form" class="needs-validation" novalidate>
      <div class="form-group col-5">
        <label for="client">Cliente</label>
        <select
          class="custom-select"
          id="customer"
          name="customer"
          formControlName="customer"
          [ngClass]="applyCssFeedback('customer')"
          required
        >
          <option *ngFor="let client of allClients" value="{{ client._id }}">{{
            client.name
          }}</option>
        </select>
        <div class="invalid-feedback">Este campo é obrigatório</div>
      </div>
      <hr />
      <div class="row">
        <div class="form-gorup col-6">
          <label>Produtos</label>
          <div *ngIf="!allProducts.length">
            <p class="text-info"><b>Carregando produtos....</b></p>
            <div class="spinner-grow text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <table
            *ngIf="allProducts.length"
            class="table table-striped table-responsive"
          >
            <thead class="bg-dark">
              <tr>
                <th class="bg-dark" style="width: 40%">Produto</th>
                <th class="bg-dark" style="width: 30%">Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of allProducts">
                <td>
                  {{ product.title }}
                </td>
                <td>
                  <input
                    type="text"
                    class="qtd form-control"
                    (change)="onQtdChange($event, product)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- added table -->
        <div class="form-group col-6">
          <label>Produtos adicionados</label>

          <p *ngIf="addProductMsg" class="text-danger">
            Adicione ao menos um produto.
          </p>

          <table *ngIf="addedProducts.length" class="table table-striped">
            <thead class="bg-dark">
              <tr>
                <th class="bg-dark" style="width: 40%">Produto</th>
                <th class="bg-dark" style="width: 30%">Quantidade</th>
                <th class="bg-dark text-right" style="width: 30%">Remover</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of addedProducts">
                <td>{{ product.title }}</td>
                <td class="text-center">
                  {{ product.qtd }}
                </td>
                <td class="text-right">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="removeProduct(product)"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>

  <div class="card-footer">
    <button
      type="submit"
      class="btn btn-success float-right"
      (click)="onSubmit()"
    >
      Enviar
    </button>
  </div>
</div>

<app-toaster *ngIf="showToaster" [infos]="toasterInfos"></app-toaster>

<app-deactivate-modal
  *ngIf="isModalShown"
  [navigateRoute]="navigateRoute"
></app-deactivate-modal>
