<div class="card border-dark bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <h2 class="card-title">{{ titleMsg }}</h2>
      </div>
      <div class="col-4">
        <button
          (click)="showModal()"
          *ngIf="formChange"
          class="btn btn-info float-right"
        >
          Voltar para a lista
        </button>
        <button
          [routerLink]="['/products']"
          *ngIf="!formChange"
          class="btn btn-info float-right"
        >
          Voltar para a lista
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="form" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="title" [ngClass]="applyCssFeedback('title')"
          >Nome
          <small> <br /><i>No mínimo 3 caracteres, e no máximo 80.</i></small>
        </label>

        <input
          type="text"
          [ngClass]="applyCssFeedback('title')"
          id="title"
          name="title"
          class="form-control"
          formControlName="title"
          placeholder="nome"
          required
        />
        <div class="invalid-feedback">
          Este campo é obrigatório, e precisa ter no mínimo 3 caracteres, e no
          máximo 80.
        </div>
      </div>

      <div class="form-group">
        <label for="price" [ngClass]="applyCssFeedback('price')">Preço</label>
        <input
          type="number"
          id="price"
          name="price"
          class="form-control"
          [ngClass]="applyCssFeedback('price')"
          formControlName="price"
          placeholder="Preço"
          required
        />
        <div class="invalid-feedback">Este campo é obrigatório</div>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          [ngClass]="applyCssFeedback('active')"
          type="checkbox"
          value=""
          name="active"
          id="active"
          formControlName="active"
          required
        />
        <div class="invalid-feedback">Este campo é obrigatório</div>
        <label
          class="form-check-label"
          [ngClass]="applyCssFeedback('active')"
          for="name"
        >
          Attivo
        </label>
      </div>

      <div class="form-group">
        <label for="description"
          >Descrição <br />
          <small><i>No mínimo 10 caracteres, e no máximo 200.</i></small></label
        >
        <textarea
          name="description"
          [ngClass]="applyCssFeedback('description')"
          id="description"
          class="form-control"
          formControlName="description"
          cols="30"
          rows="10"
          required
        ></textarea>
        <div class="invalid-feedback">
          Este campo é obrigatório, e precisa ter no mínimo 10 caracteres, e no
          máximo 200.
        </div>
      </div>

      <div class="form-group">
        <label for="slug" [ngClass]="applyCssFeedback('slug')"
          >Slug <br />
          <small><i>No mínimo 3 caracteres, e no máximo 80.</i></small></label
        >
        <input
          type="text"
          [ngClass]="applyCssFeedback('slug')"
          id="slug"
          name="slug"
          class="form-control"
          formControlName="slug"
          placeholder="slug"
          required
        />
        <div class="invalid-feedback">
          Este campo é obrigatório, e precisa ter no mínimo 3 caracteres, e no
          máximo 80.
        </div>
      </div>

      <div class="form-group">
        <label for="tags" [ngClass]="applyCssFeedback('tags')">Tags</label>
        <textarea
          name="tags"
          [ngClass]="applyCssFeedback('tags')"
          id="tags"
          class="form-control"
          formControlName="tags"
          cols="30"
          rows="10"
          required
        ></textarea>
        <div class="invalid-feedback">Este campo é obrigatório</div>
      </div>
    </form>
  </div>
  <div class="card-footer text-left">
    <button
      type="submit"
      class="btn btn-success float-right"
      (click)="onSubmit()"
    >
      Enviar
    </button>
  </div>
</div>

<app-deactivate-modal
  *ngIf="isModalShown"
  [navigateRoute]="navigateRoute"
></app-deactivate-modal>

<app-toaster *ngIf="showToaster" [success]="toasterSuccess"></app-toaster>
