<app-spinner *ngIf="spinner"></app-spinner>

<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-success">Novo Produto</button>
  </div>
  <div class="col-sm-6">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar pelo nome"
      />
      <div class="input-group-append">
        <button class="btn btn-info" type="button">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Produto</th>
      <th scope="col">slug</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <th scope="row">{{ product._id }}</th>
      <td>{{ product.title }}</td>
      <td>{{ product.slug }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button class="btn btn-info">Editar</button>
        <button class="btn btn-danger">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination *ngIf="!spinner" [(page)]="page" [pageSize]="pageSize" [collectionSize]="products.length"></ngb-pagination>




