<div class="modal-header bg-warning">
  <h4 id="dialog-auto-name" class="modal-title pull-left text-center">
    Atenção.
  </h4>
</div>
<div class="modal-body">
  <p>
    Você está saindo do formulário. Todas as informações inseridas não serão
    salvas.
  </p>
  <p class="text-warning"><b>Você realmente deseja sair?</b></p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning mr-auto" (click)="action(true)">Sair da página</button>
  <button class="btn btn-secondary" (click)="action(false)">Permanecer na página</button>
</div>
